{% extends 'base.html.twig' %}

{% block title %}New Klientas{% endblock %}

{% block body %}
    <h1>Create new Klientas</h1>

    {{ include('klientas/_form.html.twig') }}

    <a href="{{ path('klientas_index') }}">back to list</a>
{% endblock %}
