{% extends 'base.html.twig' %}

{% block title %}New Darbuotojas{% endblock %}

{% block body %}
    <h1>Create new Darbuotojas</h1>

    {{ include('darbuotojas/_form.html.twig') }}

    <a href="{{ path('darbuotojas_index') }}">back to list</a>
{% endblock %}
