{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Pavadinimas</th>
						</tr>
					</thead>
					<tbody>
						{% for tipas in saliu_tipai %}
							<tr>
								<th scope="row">{{tipas.idSaliuTipai}}</th>
								<td>{{tipas.name}}</td>
								<td>
									<a href="{{ path('saliu_tipai_show', {'id': tipas.idSaliuTipai}) }}">
										<button type="button" class="btn btn-primary">
											<i class="far fa-eye"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-success">
											<i class="fas fa-edit"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-danger">
											<i class="far fa-trash-alt"></i>
										</button>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
