{% extends 'base.html.twig' %}

{% block title %}
	{{tipas.name}}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h2 class="text-center">{{tipas.name}}</h2>
		</div>

	</div>
{% endblock %}
